<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="Aidio Communications" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://" />
    <meta property="og:image" content="" />
    <link rel="icon" href="/aidio/public/aidioLogo.png" />
    <link rel="stylesheet" href="/aidio/public/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>Aidio</title>
  </head>
  <body>
    <navbar class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top">
      <div class="container">
        <a href="/" class="navbar-brand">
          <img
            width="40"
            height="40"
            class="rounded-circle"
            src="/aidio/public/aidioLogo.png"
            alt="Galactech Logo"
        /></a>
        <a href="/" class="navbar-brand">Aidio</a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navmenu"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navmenu">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a href="/details" class="nav-link mx-1">Details</a>
            </li>
            <li class="nav-item">
              <a href="/contact" class="nav-link mx-1">Contact</a>
            </li>
            <li class="nav-item">
              <a href="/invest" class="nav-link mx-1">Invest</a>
            </li>
            <li class="nav-item">
              <a href="/access" class="nav-link mx-1">Access</a>
            </li>
          </ul>
        </div>
      </div>
    </navbar>
    <section class="text-light bg-dark text-center text-sm-start my-3">
      <div class="container px-0 py-5">
        <div
          class="d-sm-flex align-items-center py-4 p-lg-0 py-lg-5 justify-content-between"
        >
          <h1 class="mb-4 header">Aidio</h1>
          <p class="lead my-4 mx-3">
            <strong>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
              at nam dolorum, recusandae voluptate explicabo. Corporis mollitia
              cumque maxime, error consequatur officiis quam laborum culpa,
              nobis voluptates omnis libero debitis.
            </strong>
          </p>
        </div>
      </div>
    </section>
    <section class="text-dark bg-light text-center text-sm-start my-3">
      <div class="container px-0 py-5">
        <div
          class="d-sm-flex align-items-center py-4 p-lg-0 py-lg-5 justify-content-between"
        >
          <p class="lead my-4 mx-3">
            <strong>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
              at nam dolorum, recusandae voluptate explicabo. Corporis mollitia
              cumque maxime, error consequatur officiis quam laborum culpa,
              nobis voluptates omnis libero debitis.
            </strong>
            <h1 class="mb-4 header">Our Plan</h1>
          </p>
        </div>
      </div>
    </section>
    <section class="text-light bg-dark text-center text-sm-start my-3">
      <div class="container px-0 py-5">
        <div
          class="d-sm-flex align-items-center py-4 p-lg-0 py-lg-5 justify-content-between"
        >
          <h1 class="mb-4 header fade-in">Contact</h1>
          <p class="lead my-4 mx-3 fade-in">
            <strong>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
              at nam dolorum, recusandae voluptate explicabo. Corporis mollitia
              cumque maxime, error consequatur officiis quam laborum culpa,
              nobis voluptates omnis libero debitis.
            </strong>
          </p>
        </div>
      </div>
    </section>
    <section class="text-dark bg-light text-center text-sm-start my-3">
      <div class="container px-0 py-5">
        <div
          class="d-sm-flex align-items-center py-4 p-lg-0 py-lg-5 justify-content-between"
        >
          <p class="lead my-4 mx-3 fade-in">
            <strong>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
              at nam dolorum, recusandae voluptate explicabo. Corporis mollitia
              cumque maxime, error consequatur officiis quam laborum culpa,
              nobis voluptates omnis libero debitis.
            </strong>
            <h1 class="mb-4 header fade-in">Invest</h1>
          </p>
        </div>
      </div>
    </section>
    <section class="text-light bg-dark text-center text-sm-start my-3">
      <div class="container px-0 py-5">
        <div
          class="d-sm-flex align-items-center py-4 p-lg-0 py-lg-5 justify-content-between"
        >
          <h1 class="mb-4 header fade-in">Access</h1>
          <p class="lead my-4 mx-3 fade-in">
            <strong>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
              at nam dolorum, recusandae voluptate explicabo. Corporis mollitia
              cumque maxime, error consequatur officiis quam laborum culpa,
              nobis voluptates omnis libero debitis.
            </strong>
          </p>
        </div>
      </div>
    </section>
  </body>
  <script src="/aidio/public/script.js"></script>
</html>
